<div class="contacts-page text-center text-white">
  <div class="contacts">
    <a href="mailto:helloemryon@gmail.com">
      <i class="fa fa-envelope" aria-hidden="true"></i>
      {{title}}
    </a>
    <a href="https://twitter.com/Paulenigmatico" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-twitter" aria-hidden="true"></i>
      @Paulenigmatico
    </a>
    <a href="tel:0780404626">
      <i class="fa fa-phone" aria-hidden="true"></i>
      0780404626
    </a>
  </div>
</div>
