
<div class="container-fluid text-center ">
    <div class="containe">
        <nav class="navbar navbar-expand-md navbar-dark">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="#" class="btn btn-info text-uppercase mb-5 px-5 text-white">Home</a></li>
            <li class="nav-item"><a routerLink="quotes" class="btn btn-info text-uppercase mb-5 px-5 text-white mx-5">View Quotes</a></li>
            <li class="nav-item"><a routerLink="contacts" class="btn btn-info text-uppercase mb-5 px-5 text-white">Contacts</a></li>
              
          </ul>
         
        </nav>
      </div>
  <div class="welcam">
    <p class="text-white"><i class="fa fa-quote-left" aria-hidden="true"></i>Refuel your soul with motivation<i class="fa fa-quote-right" aria-hidden="true"></i></p>
    <h1 class="mb-5 text-center text-white">{{pageTitle}}</h1>
    <a routerLink="quotes" class="btn btn-info text-uppercase mb-5 px-5 text-white">Get Motivation</a>
  </div>

</div>
