
<div class="container-fluid">
  <div class="row bg-success">
    <div class="col-md-3 card-body">
      <h3 class="text-center"> About Quote</h3>
        <blockquote class="text-center">
            {{quotes.description}}
        </blockquote>
    </div>
    <div class="col-md-2 pt-md-3">
      <h3 class="text-center">The Author</h3>
        <p class="text-center">{{quotes.author}}</p>
    </div>
    <div class="col-md-2 pt-md-3">
      <h3 class="text-center">Up-votes</h3>
        <p class="text-center" > {{quotes.upVot}}</p>
    </div>
    <div class="col-md-2 pt-md-3">
        <h3 class="text-center">Down-votes</h3>
        <p class="text-center"> {{quotes.downVot}}</p>
    </div>

   
  
    
  </div>
  
  <button (click)= 'updateVote(true)' class="btn btn-success">Like</button>
  <button (click)= 'updateVote(false)' class="btn btn-warning">Dislike</button>
  <button (click)='quoteRemove(true)' class="btn btn-danger"> Remove Quote</button>
</div>
