
<div class= "container-fluid">
  <h2 class="text-center">Create a new quote</h2>
  <hr>
  <form (ngSubmit)='submitQuote()' #quoteform='ngForm'>
    <div class="form-group">
      <label for="submitterName">Your Name</label>
      <input type="text" name='submitterName' required [(ngModel)]='newQuote.submitterName' id= "submitterName" class="form-control" #submitterName='ngModel'>
    
      <div [hidden]="submitterName.valid || submitterName.pristine" class="alert alert-danger">
        <p>Your Name as the submiter is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="authorName">Author's Name</label>
      <input type="text" class= "form-control" id="authorName" name= "authorName" required [(ngModel)]='newQuote.authorName' #authorName='ngModel'>
      <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
        <p>Author's name is required</p>
      </div>
    </div>
   
    <!-- <div class= "form-group">
      <label for="quoteTitle">Quote Title</label>
      <input type="text" id ="quoteTitle" name="quoteTitle" required class="form-control" [(ngModel)]='newQuote.quoteTitle'>
    </div> -->
    <div class="form-group">
      <label for="name" >The Quote</label>
      <input type="text" id="name" name= "name" required class= "form-control" [(ngModel)]='newQuote.name' #quoteName='ngModel'>
      <div [hidden]="quoteName.valid || quoteName.pristine" class="alert alert-danger">
        <p>This field is required</p>
      </div>
    </div>
    <div class="form-group">
      <label for="description">About Quote</label>
      <input type="textarea" id="description" class="form-control" name="description" required [(ngModel)]='newQuote.description' #quoteDescription='ngModel'>
      <div [hidden]="quoteDescription.valid || quoteDescription.pristine" class="alert alert-danger">
        <p>A short description is required</p>
      </div>
    </div>
    <div class="form-group">
    <label for="submitDate">Submision Date</label>
      <input type="date" class="form-control" id="submitDate" name="submitDate"required [(ngModel)]='newQuote.submitDate' #submitDate='ngModel'>
      <div [hidden]="submitDate.valid || submitDate.pristine" class="alert alert-danger">
        <p>Enter todays date for this field</p>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Add Quote</button>
    
  
  </form>
</div>
